<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/static/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="/static/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="/static/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="/static/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Login Page</title>
    </head>
   <body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
                <a class="navbar-brand" href="#">Natural Language Generation Demo</a>
        </nav>
        <div class="container">
            <div class="col-md-4 offset-md-4">
                <h3 class="display-3">Login </h2>
                {%   if message   %}
                <div class="alert alert-warning">
                   {{ message }}
                </div>    
                {% endif %}
                <form method="POST" action="/login">
                    <div class="form-group">
                    <label for="username">Username :</label>
                    <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
       
      
        
      
   </body>
</html>