<!DOCTYPE html>
<html>
    <head>
        <head>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="/static/bootstrap.min.css">
    
            <!-- jQuery library -->
            <script src="/static/jquery.min.js"></script>
    
            <!-- Popper JS -->
            <script src="/static/popper.min.js"></script>
    
            <!-- Latest compiled JavaScript -->
            <script src="/static/bootstrap.min.js"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        </head>

   </head>
   <body>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
                <a class="navbar-brand" href="#">Natural Language Generation Demo</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
        </nav>
       
        <div class="jumbotron jumbotron-fluid">
            <div class="container offset-md-4">
                <h3>Select a csv file containing structured data</h3>
                <form action = "/predict" method = "POST" enctype = "multipart/form-data" onsubmit="return validate_file();">
                    <input type = "file" name = "file" id="file_upload" /><br><br>
                    <button class="btn btn-primary" type="submit"  >Submit</button>
                </form>
            </div>
        </div>
      <br>
      {% if prediction %}
      <div class="offset-md-3">
      <blockquote class="blockquote">
            <p class="display-6">{{ prediction }}</p>
            <footer class="blockquote-footer">Predicted By Deep Learning Model</footer>
      </blockquote>
      </div>
      {% endif %}
    <script>
        function validate_file()
        {
            var filename = document.getElementById("file_upload").value;
            if( !filename.endsWith(".csv")) {
               // alert(filename);
                alert("Please select a csv file");
                return false;

            }
            else return true;
        }
    </script>
   </body>
</html>
